:root{
    --primary-color: #3498db;
    --btn-bg: var(--primary-color);
}

/* @property */
 @property --main-color{
    syntax: '<color>';
    inherits: false;
    initial-value: #FAFAAB;
 }

 .button-1{
    background-color: var(--main-color);
    border: none;
    padding: 5px 10px;

 }

   @property --gradient-angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
   }

   .gradient-box{
    width: 250px;
    height: 250px;
    background: linear-gradient(var(--gradient-angle), red, blue);
    transition: --gradient-angle 0.5s;
   }

   .gradient-box:hover{
    --gradient-angle: 90deg
   }
 button{
  background-color: var(--btn-bg);
  align-self: center;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
 }

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    border: 2px solid red;
}


/* TABLE */





@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

/* TABLE */

:root{
  --color0: white;
  --color1:#CDFECD;
  --color2:#9BFC9B;
  --color3:#51FA51;
  --color4:#02C703;
  --color5: #027D04;
  --solid-border:2px solid black; ;
  --dashed-border: 2px dashed black;
}

.sharp td{
  border-bottom:  var(--solid-border);
}
.half td{
  border-bottom: var(--dashed-border);
  
}
.available-0{
  background-color: var(--color0);
  
}
.available-1{
  background-color: var(--color1);
}
.available-2{
  background-color: var(--color2);
}
.available-3{
  background-color: var(--color3);
}
.available-4{
  background-color: var(--color4);
}

.available-5{
  background-color: var(--color5)
}


tr{
  
  width: 20px;
  height: 20px;
}

#legend {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
  color: red;
  margin-top:10px;
  
  
}
 
.legend-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  width: 300px;
  margin:10px auto;
 
}
  
#legend-gradient{

  width: 80%;
  height: 20px;
  border: 2px solid black;
  align-items: center;
   background-image: linear-gradient(90deg, var(--color0) 0% 16.7%, var(--color1) 16.7% 33.4%, var(--color2) 33.4% 50.1%, var(--color3) 50.1% 66.8% , var(--color4) 66.8% 83.5%, var(--color5)83.5% 100%)
 
}
#legend-gradient .bars{
  width: 100%;
  height: 15px;
  margin: 0 15px;

   
}