:root{
  --color0: white;
  --color1:#CDFECD;
  --color2:#9BFC9B;
  --color3:#51FA51;
  --color4:#02C703;
  --color5: #027D04;
  --solid-border:2px solid black; ;
  --dashed-border: 2px dashed black;
}

.sharp td{
  border-bottom:  var(--solid-border);
}
.half td{
  border-bottom: var(--dashed-border);
  
}
.available-0{
  background-color: var(--color0);
  
}
.available-1{
  background-color: var(--color1);
}
.available-2{
  background-color: var(--color2);
}
.available-3{
  background-color: var(--color3);
}
.available-4{
  background-color: var(--color4);
}

.available-5{
  background-color: var(--color5)
}


tr{
  border: 1px solid red;
  width: 20px;
  height: 20px;
}

#legend {
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0;
  color: red;
  margin-top:10px;
  
}
 
.legend-bar{
  display: flex;
  justify-content: center;
  margin: 5px auto;
  width: 100%;
 gap: 10px;
}
  
#legend-gradient{
  width: 40%;
  align-items: center;
   background-image: linear-gradient(90deg, var(--color0) 0% 16.7%, var(--color1) 16.7% 33.4%, var(--color2) 33.4% 50.1%, var(--color3) 50.1% 66.8% , var(--color4) 66.8% 83.5%, var(--color5)83.5% 100%)
 
}
#legend-gradient div{
  width: 95%;
  height: 19px;
   border: var(--solid-border);
  margin: 0 5px;
  
  
}