:root{
    --primary-color: #3498db;
    --btn-bg: var(--primary-color);
}

/* @property */
 @property --main-color{
    syntax: '<color>';
    inherits: false;
    initial-value: #FAFAAB;
 }

 .button-1{
    background-color: var(--main-color);
    border: none;
    padding: 5px 10px;

 }

   @property --gradient-angle{
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
   }

   .gradient-box{
    width: 250px;
    height: 250px;
    background: linear-gradient(var(--gradient-angle), red, blue);
    transition: --gradient-angle 0.5s;
   }

   .gradient-box:hover{
    --gradient-angle: 90deg
   }
 button{
  background-color: var(--btn-bg);
  align-self: center;
  margin: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
 }

.grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    border: 2px solid red;
}


@media (min-width: 768px){
    .grid-container{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1024px){
    .grid-container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}